body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.oculto {
  display: none;
}